# 📦 Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# 🧪 Testing
/coverage

# ⚡ Next.js
/.next/
/out/

# 🚀 Production build
/build

# 🗂️ Misc
.DS_Store
*.pem

# 🐞 Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# 🔑 Env files (зазвичай не пушимо, якщо тільки не потрібно свідомо)
/.env*

# ▲ Vercel
.vercel

# 📝 TypeScript
*.tsbuildinfo
next-env.d.ts
/public/.env.local
